.pagContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.baseBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #262626;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 122.222% */

  width: 44px;
  height: 44px;
  border-radius: 50%;

  border: 1px solid rgba(38, 38, 38, 0.05);
  background: none;
}

.currentPage {
  color: #fff;
  background: #f6b83d;
  border: 1px solid #f6b83d;
}

.dots {
}

.arrows {
  letter-spacing: -5.28px;
}
