.container {
}

.formBlock {
  max-width: 424px;
  width: 100%;
}

.titleContainer {
  margin-bottom: 16px;
}

.desc {
  color: #262626;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 122.222% */
  letter-spacing: -0.36px;

  margin-bottom: 32px;
}
