.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Прозрачный фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContent {
  background-color: white;
  padding: 60px;
  width: 466px;
  max-width: 100%;
  position: relative;
  border-radius: 30px;
}

.modalContentApprove {
  background-color: white;
  padding: 80px;
  width: 468px;
  max-width: 100%;
  position: relative;
  border-radius: 30px;
}

.modelNotice {
  background-color: white;
  padding: 40px;
  width: 468px;
  max-width: 100%;
  position: relative;
  border-radius: 30px;
}

.modalEditUser {
  background-color: white;
  position: relative;
  border-radius: 30px;
  background: #fff;
  width: 480px;
  max-width: 100%;
  padding: 50px;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
