.inputContainer {
  position: relative;
}

.showBtn {
  position: absolute;
  right: 16px;
  top: 32px;
  background: none;
  border: none;
}

.checkGreen {
  position: absolute;
  right: 52px;
  top: 32px;
}

.checkMail {
  position: absolute;
  right: 22px;
  top: 32px;
}

.input {
  margin-top: 16px;

  padding: 16px;
  border-radius: 30px;
  border: 1px solid rgba(38, 38, 38, 0.15);
  width: 100%;
}

.input::placeholder {
  color: rgba(38, 38, 38, 0.5);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  letter-spacing: -0.48px;
}

.sumbitBtn {
  margin-top: 32px;

  display: block;
  padding: 16px;
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  letter-spacing: -0.48px;
  text-transform: uppercase;
  border-radius: 30px;
  background: #f6b83d;
  border: inherit;
  width: 100%;

  margin-bottom: 16px;
}

.error {
  color: #ef2447;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 116.667% */
  letter-spacing: -0.36px;

  margin-top: 4px;
  padding-left: 16px;
}

.error span {
  color: #08aa83;
}
