.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.titleSearchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 60px;
}

.searchContainer {
  max-width: 230px;
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
}
