.container {
  padding: 40px;
  border-radius: 30px;
  background: #fff4df;
}

.searchContainer {
  max-width: 265px;
}

.selectFilters {
  display: flex;
  align-items: center;
  gap: 16px;

  padding-bottom: 20px;
  border-bottom: 1px solid rgba(38, 38, 38, 0.1);
  margin-bottom: 20px;
}

.categoryContainer {
  max-width: 200px;
  width: 100%;
}

.genderContainer {
  max-width: 190px;
  width: 100%;
}

.locationContainer {
  max-width: 227px;
  width: 100%;
}

// radio filters

.radioContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.radioBtn {
  color: #262626;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  letter-spacing: -0.48px;

  padding: 14px;
  border-radius: 30px;
  background: #fff;
  border: inherit;
}

.popularContainer {
}
