.authContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.authLoginHome {
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  letter-spacing: -0.48px;
  text-transform: uppercase;

  padding: 15px 35px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: #f6b83d;
}

.authLoginHome:hover,
.authLoginHome:focus {
  background: #fff4df;
  color: #f6b83d;
  transition: var(--transition);
}

.authRegHome {
  color: #f6b83d;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  letter-spacing: -0.48px;
  text-transform: uppercase;

  padding: 15px 20px;
  border-radius: 30px;
  background: #fff4df;
  border: 1px solid #fff4df;
}

.authRegHome:hover,
.authRegHome:focus {
  color: #fff;
  background: #f9b020;
  transition: var(--transition);
}

// *

.authLogin {
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  letter-spacing: -0.48px;
  text-transform: uppercase;

  padding: 15px 35px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: #f6b83d;
}

.authLogin:hover,
.authLogin:focus {
  background: #f9b020;
  transition: var(--transition);
}

// *

.authReg {
  color: #f6b83d;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  letter-spacing: -0.48px;
  text-transform: uppercase;

  padding: 15px 20px;
  border-radius: 30px;
  background: #fff4df;
  border: 1px solid #fff4df;
}

.authReg:hover,
.authReg:focus {
  background: #fbe7c1;
  transition: var(--transition);
}
